
/* GENERALES */

/* MOBILE */

.div_principal_main {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 250px;
    display: flex;
}

.boton_solicitar_turno {
    position: absolute;
    top: 150px;
    right: 20px; 
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(252, 196, 68);
}

.titulo_principal_main {
    position: relative;
    margin: 40px auto;
    font-size: 70px;
}

.titulo_principal {
    position: relative;
    top: 150px;
    font-size: 4rem;
}

.seccion_profesionales_main {
    position: relative;
    height: 600px;
    width: 100%;
    margin-bottom: 20px;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    background-color: rgba(238, 241, 239, 1);
}

.div_buscador_profesionales {
    position: relative;
    height: 50px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    border: solid 1px #000;
    border-radius: 30px;
}

.form_buscador_profesionales {
    position: relative;
    min-width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_buscador {
    font-size: 15px;
    height: 30px;
    min-width: 60%;
    margin-right: 5px;
    border-radius: 10px;
}

.selector_filtro_busqueda {
    text-align: center;
    height: 30px;
    width: 75px;
    margin-right: 5px;
}

.boton_buscador {
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 10px;
}

.seccion_listado_profesionales {
    position: relative;
    height: 500px;
    width: 95%;
    margin: 0px auto;
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lista_profesionales {
    list-style: none;
}
  
.elemento_profesional {
    min-height: 150px;
    min-width: 100%;
    padding: 0px;
    margin-bottom: 20px;
}

.articulo_profesional {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content:left;
}

.div_imagen_profesional {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 1px #000;
}

.imagen_profesional {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.div_descripcion_profesional {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;    
}

.div_nombre_profesional {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
    border: solid 1px #000;
}

.titulo_profesional {
    margin-left: 20px;
    padding: 0px;
}

.subtitulo_cargo_profesional {
    margin-left: 30px;
    padding: 0px;
}

/* DESKTOP */
@media screen and (min-width: 900px) {

    .boton_solicitar_turno:hover {
        transform: scale(1.1);
    }

    .div_buscador_profesionales {
        height: 70px;
        width: 60%;
    }

    .input_buscador {
        font-size: 20px;
        height: 40px;
        min-width: 70%;
    }

    .selector_filtro_busqueda {
        font-size: 18px;
        height: 40px;
        width: 100px;
    }

    .boton_buscador {
        padding: 10px 20px;
        font-size: 20px;
    }

    .boton_buscador:hover {
        transform: scale(1.05);
    }

    .seccion_listado_profesionales {
        width: 70%;
        height: 460px;
    }
}